<table>
<tr>
<td>Title</td>
<td>Description</td>
<td>Price</td>
</tr>
<% @product.each do |p|%>
<tr>
<td><%= p.title%></td>
<td><%= p.description%></td>
<td><%= p.price%></td>
<td><%= image_tag p.image.photo(:medium) if !p.image.blank?%></td>
<td><%= link_to "Edit", edit_product_path(p)%></td>
<td><%= link_to "Delete", p, method: :delete, :data => {:confirm =>"Are you sure!"}%></td>
</tr>
<%end%>
</table>